In [1]:
start_time = 0;
end_time = 100;

# How much time passes between each successive calculation
time_step = 1/4 # In years
end_step = int(((end_time - start_time)/ time_step));

# The number of zebras when the simulation is started
initial_zebras = 30000;

# The number of lions when the simulation is started
initial_lions = 15;

# The number of zebras that must be killed for a lion to be born. (Zebras / Lion)

zebras_per_lion = 1000;

# The chance a zebra will die when a zebra lion cross paths
fighting_chance = 0.50;

meeting_chance = 0.02;

zebra_growth_rate = 0.20;

lion_death_rate = 0.10;

# Initialization

zebras_over_time = fill(0.0, end_step+1);
lions_over_time = fill(0.0, end_step+1);
model_time = fill(0.0, end_step+1);

zebras = initial_zebras;
lions = initial_lions;

zebras_over_time[1]	= zebras;
lions_over_time[1] = lions;

In [2]:

# Run the model

for sim_step = 1:end_step

	sim_time = start_time + sim_step * time_step;
	model_time[sim_step] = sim_time;

	# First we must calculate our flows (our rates)
	zebra_births = zebras * zebra_growth_rate;
	zebra_deaths  = min(zebras, meeting_chance*fighting_chance*zebras*lions);

	lion_births = 1/zebras_per_lion * zebra_deaths;
	lion_deaths = lions * lion_death_rate;

	# Update the stock levels
	zebras = zebras + zebra_births - zebra_deaths;
	lions = lions + lion_births - lion_deaths

	# Stock values always update in the next time step
	zebras_over_time[sim_step+1] = zebras;
	lions_over_time[sim_step+1] = lions;
end

In [16]:
using Gadfly
using DataFrames

In [39]:
d = DataFrame(ID = 1:size(d, 1), T = model_time, L=lions_over_time, Z=zebras_over_time);
d[:ID] = 1:size(d, 1)
[head(d),tail(d)]

12x4 DataFrame
| Row | T     | L         | Z          | id  |
|-----|-------|-----------|------------|-----|
| 1   | 0.25  | 15.0      | 30000.0    | 1   |
| 2   | 0.5   | 18.0      | 31500.0    | 2   |
| 3   | 0.75  | 21.87     | 32130.0    | 3   |
| 4   | 1.0   | 26.7098   | 31529.2    | 4   |
| 5   | 1.25  | 32.4602   | 29413.6    | 5   |
| 6   | 1.5   | 38.7619   | 25748.6    | 6   |
| 7   | 99.0  | 0.0208583 | 1.73626e-6 | 396 |
| 8   | 99.25 | 0.0187725 | 2.08315e-6 | 397 |
| 9   | 99.5  | 0.0168952 | 2.49939e-6 | 398 |
| 10  | 99.75 | 0.0152057 | 2.99885e-6 | 399 |
| 11  | 100.0 | 0.0136851 | 3.59816e-6 | 400 |
| 12  | 0.0   | 0.0123166 | 4.3173e-6  | 401 |

In [38]:
ds = stack(d, [:Z, :L], :T);
[head(ds),tail(ds)]

12x3 DataFrame
| Row | variable | value     | T     |
|-----|----------|-----------|-------|
| 1   | Z        | 30000.0   | 0.25  |
| 2   | Z        | 31500.0   | 0.5   |
| 3   | Z        | 32130.0   | 0.75  |
| 4   | Z        | 31529.2   | 1.0   |
| 5   | Z        | 29413.6   | 1.25  |
| 6   | Z        | 25748.6   | 1.5   |
| 7   | L        | 0.0208583 | 99.0  |
| 8   | L        | 0.0187725 | 99.25 |
| 9   | L        | 0.0168952 | 99.5  |
| 10  | L        | 0.0152057 | 99.75 |
| 11  | L        | 0.0136851 | 100.0 |
| 12  | L        | 0.0123166 | 0.0   |